.container_menu-title {
  color: #fff;
}

.container_menu-title > h1  {
  margin: 15px 15px;
  font-family: 'segoe UI';
  font-size: 135px;
  font-weight: bold;

  display: flex;
  justify-content: center;
}

.container_menu-title > hr {
  margin: 20px auto;
}
